In this script we do following for query logs of Bio2rdf and wikidata:

1. We retive query logs 
2. We remove queries that contain "http://nonsensical" 
3. We remove VALUES section of the queries
4. We remove spaces/new lines with a parralel programing
5. We convert dataset to .tsv.gzip

In [7]:
import requests

URL = "https://download.dumontierlab.com/bio2rdf/logs/bio2rdf_sparql_logs_processed_01-2019_to_07-2021.csv"
response = requests.get(URL)
open("bio2rdf-processed.csv", "wb").write(response.content)

1743314875

In [19]:
import pandas as pd

df=pd.read_csv('bio2rdf-processed.csv')
df

/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (1,2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,query,domain,agent,timestamp
0,CONSTRUCT { ?s ?p ?o . } WHERE { SERVICE <http...,bio2rdf.org,Umaka-Crawler/1.0.0 by DBCLS (umakadata@dbcls.jp),2020-03-11T06:13:19.227Z
1,SELECT DISTINCT ?prefix WHERE { { SELECT DISTI...,bio2rdf.org,Umaka-Crawler/1.0.0 by DBCLS (umakadata@dbcls.jp),2020-03-11T06:18:36.078Z
2,select * where {[] a ?Concept} LIMIT 100&forma...,bio2rdf.org,Mozilla/5.0 (Windows NT 6.3; Win64; x64) Apple...,2020-03-11T13:48:04.625Z
3,With the advantages of utilizing a job recruit...,bio2rdf.org,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,2021-04-20T10:18:11.078Z
4,With the advantages of utilizing a job recruit...,bio2rdf.org,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,2021-04-20T10:18:11.132Z
...,...,...,...,...
6522692,SELECT ?it1 ?st1 ?p01 ?p11 ?p21 ?x31 ?p31 ?p32...,bio2rdf.org,Ruby,2019-02-27T03:23:26.079Z
6522693,SELECT ?it1 ?st1 ?p01 ?p11 ?p21 ?p31 ?x31 ?x32...,bio2rdf.org,Ruby,2019-02-27T03:23:26.492Z
6522694,SELECT ?it1 ?st1 ?p01 ?p11 ?p21 ?x31 ?p31 ?p32...,bio2rdf.org,Ruby,2019-02-27T03:23:26.630Z
6522695,SELECT ?it1 ?st1 ?p01 ?p11 ?p21 ?x31 ?p31 ?x32...,bio2rdf.org,Ruby,2019-02-27T03:23:26.878Z
6522696,SELECT ?it1 ?st1 ?p01 ?p11 ?p21 ?p31 ?x31 ?p32...,bio2rdf.org,Ruby,2019-02-27T03:23:27.049Z

In [3]:
len(df)

6522697

In [24]:
print(df['domain'].unique())

['bio2rdf.org' 'drugbank.bio2rdf.org' 'interpro.bio2rdf.org'
 'taxonomy.bio2rdf.org' 'goa.bio2rdf.org' 'homologene.bio2rdf.org'
 'wormbase.bio2rdf.org' 'mesh.bio2rdf.org' 'pharmgkb.bio2rdf.org'
 'gendr.bio2rdf.org' 'hgnc.bio2rdf.org' 'clinicaltrials.bio2rdf.org'
 'sider.bio2rdf.org' 'biomodels.bio2rdf.org' 'mgi.bio2rdf.org'
 'kegg.bio2rdf.org' 'dbsnp.bio2rdf.org' 'ctd.bio2rdf.org'
 'bioportal.bio2rdf.org' 'pubmed.bio2rdf.org' 'lsr.bio2rdf.org'
 'ndc.bio2rdf.org' 'ncbigene.bio2rdf.org' 'sgd.bio2rdf.org'
 'orphanet.bio2rdf.org' 'omim.bio2rdf.org' 'irefindex.bio2rdf.org'
 'affymetrix.bio2rdf.org' 'genage.bio2rdf.org' 'download.bio2rdf.org' nan
 'b.bio2rdf.org' 'gene.bio2rdf.org']

In [36]:
import requests

URL = "https://analytics.wikimedia.org/datasets/one-off/wikidata/sparql_query_logs/2017-06-12_2017-07-09/2017-06-12_2017-07-09_organic.tsv.gz"
response = requests.get(URL)
open("wiki-first-organic.tsv", "wb").write(response.content)

5963538

In [94]:

# df=pd.read_csv('wiki-first-organic.tsv', delimiter='\t')
# df.head()
df = pd.read_csv('2017-06-12_2017-07-09_organic.tsv', delimiter='\t')
df.head()
df['anonymizedQuery'][0]
len(df)

118494

In [73]:
df = pd.read_csv(r'bio2rdf-processed.csv')

df.to_csv('all-bio2rdf-processed.tsv', sep='\t', encoding='utf-8', index=False)

In [74]:
df = pd.read_csv('all-bio2rdf-processed.tsv', delimiter='\t',
                 lineterminator='\n')
df['query'][0]

'CONSTRUCT { ?s ?p ?o . } WHERE { SERVICE <http://bio2rdf.org/sparql> { ?s ?p ?o . } } LIMIT 1'

In [75]:
import gzip

with open("all-bio2rdf-processed.tsv", 'rb') as orig_file:
    with gzip.open("all-bio2rdf-processed.tsv.gz", 'wb') as zipped_file:
        zipped_file.writelines(orig_file)

In [ ]:
import gzip

with open("all-bio2rdf-processed.tsv", 'rb') as orig_file:
    with gzip.open("all-bio2rdf-processed.tsv.gz", 'wb') as zipped_file:
        zipped_file.writelines(orig_file)
        reallall-bio2rdf-processed.tsv

In [143]:
import gzip

with open("results/reallall-bio2rdf-processed.tsv", 'rb') as orig_file:
    with gzip.open("results/reallall-bio2rdf-processed.tsv.gz", 'wb') as zipped_file:
        zipped_file.writelines(orig_file)
print("hi")

hi

Remove all queries that have "http://nonsensical.com"

In [18]:
count = 0
with open("bio2rdf-processed.csv", "r") as f:
    s = f.readlines()
    for x in s:
        if x.__contains__("http://nonsensical"):
            count = count + 1
#            
    print(count)
    f.close()

477643

In [2]:
import pandas as pd
df1=pd.read_csv('bio2rdf-processed_drugbank.bio2rdf.org.csv')
len(df1)

118494

In [9]:
df= df1[~df1['query'].str.contains('http://nonsensical.com')]

In [10]:
len(df)

101654

In [11]:
len(df[df['query'].str.contains('http://nonsensical.com')])

0

In [15]:
df.to_csv('non-drugbank.csv', index=False)

In [17]:
import pandas as pd
df1=pd.read_csv('non-drugbank.csv')
df1.head()
len(df1)

101654

In [18]:
import pandas as pd
df1=pd.read_csv('bio2rdf-processed.csv')
len(df1)

/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (1,2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

6522697

In [19]:
df= df1[~df1['query'].str.contains('http://nonsensical.com')]

In [20]:
len(df)

6050355

In [21]:
len(df[df['query'].str.contains('http://nonsensical.com')])

0

In [22]:
df.to_csv('nonsen-all-bio.csv', index=False)

In [23]:
import pandas as pd
df1=pd.read_csv('nonsen-all-bio.csv')
df1.head()
len(df1)

6050355

In [25]:
df['query'].isnull().sum()

0

In [24]:
df1.head()

,query,domain,agent,timestamp
0,CONSTRUCT { ?s ?p ?o . } WHERE { SERVICE <http...,bio2rdf.org,Umaka-Crawler/1.0.0 by DBCLS (umakadata@dbcls.jp),2020-03-11T06:13:19.227Z
1,SELECT DISTINCT ?prefix WHERE { { SELECT DISTI...,bio2rdf.org,Umaka-Crawler/1.0.0 by DBCLS (umakadata@dbcls.jp),2020-03-11T06:18:36.078Z
2,select * where {[] a ?Concept} LIMIT 100&forma...,bio2rdf.org,Mozilla/5.0 (Windows NT 6.3; Win64; x64) Apple...,2020-03-11T13:48:04.625Z
3,With the advantages of utilizing a job recruit...,bio2rdf.org,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,2021-04-20T10:18:11.078Z
4,With the advantages of utilizing a job recruit...,bio2rdf.org,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,2021-04-20T10:18:11.132Z

In [30]:
import gzip

with open("results/nonsen-all-bio.tsv", 'rb') as orig_file:
    with gzip.open("nonsen-all-bio.tsv.gz", 'wb') as zipped_file:
        zipped_file.writelines(orig_file)

In [2]:
count = 0
with open("nonsen-all-bio.csv", "r") as f:
    s = f.readlines()
    for x in s:
        if x.__contains__("VALUES"):
            count = count + 1
#             print(x)
#             start = x.find("VALUES") + len("VALUES")
#             end = x.find("^^")

#             substring = x[start:end] 
#         if x.__contains__("Influence Definition"):
#             start = x.find("Influence Definition: ") + len("Influence Definition: ")
#             end = x.find("Evidence Number of meta-analyses:")
#             substring += x[start:end]
#             print(substring)
#             print()
    print(count)
    f.close()

26021

In [2]:
import pandas as pd
df1= pd.read_csv('nonsen-all-bio.csv')
len(df1)

/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (1,2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

6050355

In [3]:
df= df1[df1['query'].str.contains('VALUES')]
len(df)

26021

In [10]:
type(df)
print(df.loc[0:9,"query"])

Series([], Name: query, dtype: object)

In [12]:
count=0
for x in df.iloc[:,0]:
    if x.__contains__("VALUES"):
       
       start = x.find("VALUES") 
       end = x.find(" } ")
       substring = x[start:end+3]
       
#        print(substring)
       count = count + 1
       x= x.replace(substring, '')
#        print(y) 
    
print(count)

1

In [109]:
import pandas as pd
df1 = pd.read_csv('testval.txt')
df1.head()

,query,domain,agent,timestamp
0,SELECT (count(*) AS ?c_1)\r\nWHERE\r\n { SEL...,irefindex.bio2rdf.org,Apache-Jena-ARQ/3.16.0,2020-10-19T15:38:06.778Z
1,SELECT ?foundUri ?foundLabel WHERE {\r\n ...,bio2rdf.org,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:84....,2021-01-06T09:19:24.048Z
2,SELECT ?foundUri ?foundLabel WHERE {\r\n ...,bio2rdf.org,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:84....,2021-01-06T17:45:53.500Z
3,SELECT (count(*) AS ?c_1)\r\nWHERE\r\n { SEL...,irefindex.bio2rdf.org,Apache-Jena-ARQ/3.16.0,2020-10-19T15:38:06.778Z

In [111]:
count = 0

for x in range((df1.shape[0])):
    print(x)
    if df1['query'][x].__contains__("VALUES"):
#        print(df1['query'][x])
       start = df1['query'][x].find("VALUES") 
       print(start)
       end = df1['query'][x].find("}", start)
       print(end)
       substring =  df1['query'][x][start:end+3]
       
       print('hi',substring)
       count = count + 1
        
       df1['query'][x] = df1['query'][x].replace(substring , '')
     
    
print(count)

0
1
2
3
0

In [112]:
import pandas as pd
df1 = pd.read_csv('nonsen-all-bio.csv')
df1.head()

/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (1,2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,query,domain,agent,timestamp
0,CONSTRUCT { ?s ?p ?o . } WHERE { SERVICE <http...,bio2rdf.org,Umaka-Crawler/1.0.0 by DBCLS (umakadata@dbcls.jp),2020-03-11T06:13:19.227Z
1,SELECT DISTINCT ?prefix WHERE { { SELECT DISTI...,bio2rdf.org,Umaka-Crawler/1.0.0 by DBCLS (umakadata@dbcls.jp),2020-03-11T06:18:36.078Z
2,select * where {[] a ?Concept} LIMIT 100&forma...,bio2rdf.org,Mozilla/5.0 (Windows NT 6.3; Win64; x64) Apple...,2020-03-11T13:48:04.625Z
3,With the advantages of utilizing a job recruit...,bio2rdf.org,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,2021-04-20T10:18:11.078Z
4,With the advantages of utilizing a job recruit...,bio2rdf.org,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,2021-04-20T10:18:11.132Z

In [113]:
count = 0

for x in range((df1.shape[0])):
    
    if df1['query'][x].__contains__("VALUES"):
#        
       start = df1['query'][x].find("VALUES") 
#        print(start)
       end = df1['query'][x].find("}", start)
#        print(end)
       substring =  df1['query'][x][start:end+3]
       
#        print('hi',substring)

       count = count + 1
    
       df1['query'][x] = df1['query'][x].replace(substring , '')

    
print(count)

26021

In [114]:
df1.to_csv('values-nonsen-all-bio.csv', index=False)

In [115]:
# to test no values exist
import pandas as pd
df1 = pd.read_csv('values-nonsen-all-bio.csv')
df1.head()

/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (1,2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,query,domain,agent,timestamp
0,CONSTRUCT { ?s ?p ?o . } WHERE { SERVICE <http...,bio2rdf.org,Umaka-Crawler/1.0.0 by DBCLS (umakadata@dbcls.jp),2020-03-11T06:13:19.227Z
1,SELECT DISTINCT ?prefix WHERE { { SELECT DISTI...,bio2rdf.org,Umaka-Crawler/1.0.0 by DBCLS (umakadata@dbcls.jp),2020-03-11T06:18:36.078Z
2,select * where {[] a ?Concept} LIMIT 100&forma...,bio2rdf.org,Mozilla/5.0 (Windows NT 6.3; Win64; x64) Apple...,2020-03-11T13:48:04.625Z
3,With the advantages of utilizing a job recruit...,bio2rdf.org,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,2021-04-20T10:18:11.078Z
4,With the advantages of utilizing a job recruit...,bio2rdf.org,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,2021-04-20T10:18:11.132Z

In [116]:
count = 0

for x in range((df1.shape[0])):
    
    if df1['query'][x].__contains__("VALUES"):
        count = count + 1
print(count)

0

In [1]:
import gzip

with open("results/values-nonsen-all-bio.tsv", 'rb') as orig_file:
    with gzip.open("values-nonsen-all-bio.tsv.gz", 'wb') as zipped_file:
        zipped_file.writelines(orig_file)